.inner-title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
    background: linear-gradient(to top, transparent 0%, var(--third-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}

.inner-second-title {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    top: -55px;
}

.inner-second-title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--second-color);
}