.home {
    padding: 80px 0;
    min-height: 100vh;
}

.home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.media-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.media-icons a {
    color: var(--second-color);
    font-size: 32px;
}

.media-icons a:hover {
    color: var(--hover-color);
}

.home-info h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
}

.home-info h3 {
    color: var(--third-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

.home-info p {
    font-size: var(--normal-font-size);
    columns: var(--third-color);
    max-width: 350px;
    width: 100%;
}

.home-info-link {
    width: 200px;
    gap: 4px;
}


.inner-info-link svg {
    width: 25px;
    height: 15px;
    padding-left: 8px;
    padding-top: 4px;
}

.inner-info-link:hover {
    background: var(--hover-color);
}

.home-img img {
    width: 500px;
}