.nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-menu {
    display: flex;
    gap: 50px;
}

.nav-link {
    font-weight: 500;
    text-transform: capitalize;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    transition: .3s linear;
    cursor: pointer;
}

.nav-link.active,
.nav-link:hover {
    color: var(--second-color);
}

.nav-menu-btn {
    display: none;
}